.page-header {
  position: relative;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page-header.with-back-button {
  padding-left: 70px;
}
.header-button {
  position: absolute;
}
.back-button {
  left: 16px;
}
.switch-theme-btn {
  right: 16px;
}
